case.foam
mesh.msh
stop.sh
cellToRegion
constant/polyMesh/
constant/cellToRegion
constant/userParameters
constant/solid/physicalProperties
constant/solid/polyMesh/
constant/fluid/polyMesh/
system/controlDict
postProcessing
processor*/
log.*
logs
*[0-9].[0-9]*e[+-][0-9][0-9]*/
*.png